.buy a {
	text-decoration: none;
}

.buy {
	background: #F1F2F3;
	border: 2px solid #E1E2E3;
	font-size: 13px;
	color: #444444;
}

.now_list {
	width: 940px;
	height: 600px;
	border: 1px solid #E1E2E3;
	margin-left: 220px;
}

.now_one {
	width: 900px;
	height: 100px;
	border: 1px solid #E1E2E3;
	margin-top: 10px;
	margin-left: 20px;
}

.now_left {
	margin-left: 50px;
	margin-top: 19px;
	float: left;
}

.now_right {
	float: right;
	margin-right: 60px;
	margin-top: 34px;
}